body {
    background-color: black;
  }

h1 {
    background-color: black;
    color: black;
    text-align: center;
  }

.PageLinks {
    color: red;
    background-color:black;
}

.Heading {
    font-family:Monospace;
    font-size:300%;
}

.PageButtons {
  padding: 5px 5px;
}

#GenInfo {
  color:white;
  font-size: 200%;
  font-family: Monospace;
}

#DevsLogo {
  width: 400px;
  padding: 40px 165px;
  right: 0; 
  bottom: 500;
  position: fixed;

}

.CupWins {
  color: white;
}


